


.homepage-img{
    width: 300px;
    height: 300px;
    
}



body{
    background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    
}

#offcanvasTop {
    --bs-offcanvas-height: 80vh;
    background-color: #c5e1d4;
    
  }
  

  .bar{
    height: 20px;
}
 
.html-progress{
    width: 75%;
}
 
.javascript-progress{
    width: 75%;
}
 
.bootstrap-progress{
    width: 80%;
}
 
.nodejs-progress{
    width: 75%;
}
 
.express-progress{
    width: 60%;
}
 
.mongodb-progress{
    width: 75%;
}
 
.chartjs-progress{
    width: 85%;
}

